<div class="container">
 <div class="row">
   <div class="col-sm-7">
    <h1><%= @artist.name %></h1>
   	<h3>Albums</h3>
    <div class="row">
      <% @albums.each do |album|%>
        <div class="col-sm-3">
          <div class="thumbnail">
            <%= image_tag(album.image_url, class: "img-rounded")%>
            <div class="caption">
              <h6><%= album.name %></h6> 
              <h6><%= album.released_at %></h6>
            </div>
          </div>
        </div>
      
       <% end %>

    </div>  

   </div>

   <div class="col-sm-4 col-sm-offset-1">
     <div class="thumbnail">
      <%=image_tag(@artist.image_url, class:"img-rounded img-responsive")%> 	
      <div>
        <%= link_to "Nuevo Album", new_album_path, class: "btn btn-primary btn-block" %>
      </div>
     </div>
   	
   </div>
 </div>
</div>